
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Righteous&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,800;1,800&display=swap');

:root{
  --font-text-titles : 'Righteous';
  --font-text-content : 'Work Sans';
  --text-color : #131517;
  --text-contact-color: #fff;
  --text-nav-footer-color : #fff;
  --progress-value-color: #fff;
  --icon-color : #131517;
  --button-color : #131517;
  --decoration-color: #0e008b;
  --skill-bar-color: #131517;
  --nav-color: #131517;
  --bg-item-color :rgb(30, 35, 38, 0.5);
  --bg-image : url(../images/fondo.jpg);
}

*{
  box-sizing: border-box;
  font-family: var(--font-text-content);
  margin: 0;
  padding: 0;
}

html {
  /*Me permite deslizar cuando hago clic en loslink del menu*/
  scroll-behavior: smooth;
}

/* MENU*/
.header_container{
  background: var(--nav-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header_container img{
  width: 10rem;
}
.header_container header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header_container header ul{
  display: flex;
  list-style: none;
}


.header_container header nav ul li a{
  text-align: none;
  color: var(--text-nav-footer-color);
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
}

.header_container header nav ul a:hover {
  color: var(--decoration-color);
}
.nav-responsive{
  background-color: var(--decoration-color);
  color: var(--text-nav-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}



footer{
  background-color: var(--nav-color);
  color: var(--text-nav-footer-color);
  padding: 50px 0 30px;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .redes{
  margin-bottom: 40px;
}

footer .redes a{
  text-align: center;
  color: var(--text-nav-footer-color);
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--text-nav-footer-color);
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 20px 5px;
  font-size: 20px;
  transition: .3s;
}
footer .arriba{
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--decoration-color);
  color: var(--text-nav-footer-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 18px;
}



/* SECCION RESPONSIVE */
@media screen and (max-width:980px){

  .inicio{
    margin-top: 55px;
  }
  .inicio .banner-container{
    display: block;
  }

  .inicio .banner-container .img-container{
    width: fit-content;
  }

  .inicio .banner-container .img-container img{
    width: 50%;
  }

  
  nav {
    display: none;
    
  }
  .nav-responsive{
    display: block;
    
  }
  nav.responsive{
    
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: var(--text-color);
    width: 180px;
  }
  nav.responsive ul{
    display: block;
  }
  nav.responsive ul li{
  text-align: center;
    border-bottom: 1px solid var(--bg-item-color);
    padding: 10px 0;
  }
  .curriculum .raw .education .items .box{
    height: 100px;
    max-width: 40%;
    
  }
  .curriculum .raw .items .item{
    display: block;
  }
  .curriculum .raw .head-item{
    justify-content: center;
  }
  .curriculum .raw .info-item{
    width: 100%;
  }
  .curriculum .raw .item .abilities{
    width: 100%;
    padding: 10px 50px;
    margin: 5px;
  }

  .contacto .raw{
    display: block;
  }
  .contacto .column{
    width: 100%;
  }
  

}

@media screen and (max-width:700px){
  .inicio{
  padding-top: 40px;
  }
  .inicio .banner-container .datos h1{
    font-size: 30px;
  }
  .sobremi .raw{
    display: block;
  }
  .sobremi .raw .col{
    width: fit-content;
  }
  .skills .raw{
    display: block;
  }

  .skills .raw .col{
    width: 100%;
  }

  .skills .raw .skill-bar{
    width: 100%;
  }

  .curriculum .raw{
    display: block;
  }
  
  
  .curriculum .raw .education .items .box{
    height: 100px;
    max-width: 70%;
  }
  .curriculum .raw .logo{
    width: 20%;
  }
  .curriculum .raw .head-item{
    display: block;
  }
  .curriculum .raw .head-item .logo{
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .curriculum .raw .head-item .logo img{
    width: 30%;
  }
  .curriculum .raw .item .abilities{
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    margin: 0
  }
  .curriculum .raw .abilities .list{
    justify-content: center;
  }


  .portafolio .galeria{
    display: block;
    width: 100%;
  }
  .portafolio .galeria .proyecto{
    max-width: 100%;
  }
  .portafolio .galeria .proyecto img{
    width: 100%;
  }
  .contacto .raw{
    display: block;
  }

  .contacto .raw .column{
    width: 100%;
    
  }
  .contacto .column img{
    transform: rotate(90deg)
  }
}